<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户密码失败</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        h1{
            font-size: 30px;
            font-weight: bold;
            color: red;
            margin: auto auto;
        }
    </style>
</head>
<body>
<h1>用户的账号激活失败，找不回不了密码</h1>
</body>
<script>
    function register() {
    window.location.href = 'http://127.0.0.1:8000/user/forget/';
    }
    window.setTimeout(register,5000);
</script>
</html>